
$if(previousPageUrl)$
$else$

$partial("templates/pinned-posts.html")$

<div class="pinned-strip-title">
  <h3>Latest Posts</h3>
</div>
$endif$



$partial("templates/post-list.html")$

<nav class="pagination">
  <p><em>Page $currentPageNum$ of $numPages$</em></p>
  <div>
$if(previousPageUrl)$
    <a href="$previousPageUrl$">&laquo; Previous Page</a>
$endif$
$if(nextPageUrl)$
    $if(previousPageUrl)$  $endif$
    <a href="$nextPageUrl$">Next Page &raquo;</a>
$endif$
  </div>
</nav>


<script type="text/javascript" src="/js/venobox.min.js"></script>
<script>
      new VenoBox({
          selector: '.image-gallery',
          numeration: true,
          infinigall: true,
          share: true,
          spinner: 'rotating-plane'
      });
</script>
