<article>
    <h1>$title$</h1>
    <p>
        <i>
        posted on $date$
        $if(author)$
            by $author$
        $endif$
        in $tags$
        </i>
    </p>
    <section class="sans">
        $body$

    </section>
        <script type="text/javascript" src="/js/venobox.min.js"></script>
        <script>
            new VenoBox({
                selector: '.image-gallery',
                numeration: true,
                infinigall: true,
                share: true,
                spinner: 'rotating-plane'
            });
        </script>

</article>
